# Assignment 6

*(Due Saturday, October 26, 2019 at noon.)*

**1)** Below, paste the code needed to import and clean your file from the `../dataset` directory in your repository, then save the result to a new file. I should be able to run the code in this notebook and get my own copy of your cleaned, processed data.

**Note:** Your assignment file will be publicly accessible on Github. If your dataset is private, don't print anything confidential in this assignment.

In [2]:
import numpy as np
import pandas as pd

In [3]:
#loading my environmental data
###set the first line as col names
banner4=pd.read_csv('../AStahl Dataset/PhysicalData_9.23.2019 .csv', nrows=5, encoding='latin')
colnames4 = list(banner4.columns)
print(colnames4)
###read in dataset with the col names that was just made
environ_data=pd.read_csv('../AStahl Dataset/PhysicalData_9.23.2019 .csv', encoding='latin', 
                         names=colnames4, skiprows=2)
###only pulling the columns I want to use 
environ_data=environ_data.iloc[:,[3,6,7]]
environ_data.head()
####GOOD TO GO

['ID', 'Sample ID', 'Sample location', 'Date', 'Time', 'Weather desc', 'Surface Temp', 'Bottom Temp', 'Air Temp', 'Hours before high tide', 'Surface Salinity', 'Bottom Salinity', 'Secchi Depth', 'Unnamed: 13']

        Date  Surface Temp Bottom Temp
0  25-Jan-99          0.00           0
1   1-Feb-99          2.25         2.5
2   8-Feb-99          0.00           0
3  15-Feb-99          0.00           0
4  22-Feb-99          0.00           0

In [4]:
#loading my chlorophyll data 
###set the first line as col names
banner5=pd.read_csv('../AStahl Dataset/chldata_9.23.2019.csv')
colnames5 = list(banner5.columns)
print(colnames5)
###read in dataset with the col names that was just made
chl_data=pd.read_csv('../AStahl Dataset/chldata_9.23.2019.csv', 
                     names=colnames5,skiprows=3)
###remove the last unwated 'notes' rows
chl_data=chl_data.iloc[:,:-17]
###only pulling the columns I want to use
chl_data=chl_data.iloc[:,[12,13,14,15,16]]
##Rename columns
chl_data.rename(columns={'Sample Date.1':'Date','surface chla all':'Surface Chla all',
                        'Surface Phaeo all.1':'Surface Phaeo all','Bottom Chla all.1':'Bottom Chla all',
                         'Bottom Phaeo all.1':'Bottom Phaeo all'}, inplace=True)
chl_data.head()
###GOOD TO GO

['Sample', 'Sample location', 'Sample Date', 'Surface Chla all', 'Surface Phaeo all', 'Bottom Chla all', 'Bottom Phaeo all', 'surface chla <20 um', 'Surface Phaeo <20 um', 'Bottom Chla <20 um', 'Bottom Phaeo <20 um', 'Unnamed: 11', 'Sample Date.1', 'surface chla all', 'Surface Phaeo all.1', 'Bottom Chla all.1', 'Bottom Phaeo all.1', 'surface chla <20 um.1', 'Surface Phaeo <20 um.1', 'Bottom Chla <20 um.1', 'Bottom Phaeo <20 um.1', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37']

,Date,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all
0,25-Jan-99,3.72,0.80,3.26,1.15
1,01-Feb-99,2.90,0.74,2.66,0.83
2,08-Feb-99,2.20,0.94,3.24,1.98
3,15-Feb-99,1.34,1.20,1.47,0.60
4,22-Feb-99,12.56,5.33,9.04,4.97

In [5]:
#loading my silica data
###set the first line as col names
banner6=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=1)
colnames6=list(banner6.columns)
print(colnames6)
###read in dataset with the col names that was just made
Si_data=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=1, names=colnames6,
                     skiprows=2)
#rename columns
Si_data.rename(columns={'DATE':'Date','Si':'Surface Si','Si.1':'Bottom Si'}, inplace=True)
##remove unwanted columns by keeping the columns you want 
Si_data=Si_data.iloc[:,[1,3,9]]
Si_data.head()
###GOOD TO GO

['Sample ID', 'DATE', 'Surface', 'Si', 'Unnamed: 4', 'Unnamed: 5', 'Sample ID.1', 'DATE.1', 'Deep', 'Si.1']

        Date Surface Si Bottom Si
0 2003-02-24   0.134507   0.11277
1 2003-03-10   0.779352  0.746106
2 2003-03-24    3.54383   2.39175
3 2003-04-09     2.6703  0.863474
4 2003-04-23    1.20083  0.579066

In [6]:
#loading my nitrogen and phosphorus data
###set the fifth line as col names
banner7=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=0, header=4)
colnames7=list(banner7.columns)
print(colnames7)
###read in dataset with the col names that was just made
NandP_data=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=0, names=colnames7,
                         skiprows=6)
###rename columns
NandP_data.rename(columns={'Unnamed: 0':'Date','NH4':'Surface NH4','DIP':'Surface DIP',
                           'NO3+2':'Surface NO3+2','NO3':'Surface NO3','NO2':'Surface NO2',
                          'DIN':'Surface DIN','NH4.1':'Bottom NH4','DIP.1':'Bottom DIP',
                           'NO3+2.1':'Bottom NO3+2','NO3.1':'Bottom NO3','NO2.1':'Bottom NO2',
                           'DIN.1':'Bottom DIN'}, inplace=True)
##remove unwanted columns by keeping the columns you want 
NandP_data=NandP_data.iloc[:,[0,2,3,4,5,6,7,11,12,13,14,15,16]]
NandP_data.head()
##GOOD TO GO

['Unnamed: 0', 'Unnamed: 1', 'NH4', 'DIP', 'NO3+2', 'NO3', 'NO2', 'DIN', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'NH4.1', 'DIP.1', 'NO3+2.1', 'NO3.1', 'NO2.1', 'DIN.1']

,Date,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,Surface DIN,Bottom NH4,Bottom DIP,Bottom NO3+2,Bottom NO3,Bottom NO2,Bottom DIN
0,2003-05-05,1.17807,0.171054,2.31024,2.09136,0.218876,3.488308,0.679138,0.269104,0.329064,0.280104,0.04896,1.0082
1,2003-05-21,0.241243,0.0941145,0.108927,0.0469255,0.0620015,0.350170,0.510182,0.241036,0.146274,0.105181,0.041093,0.656456
2,2003-05-28,3.85202,0.440969,2.26947,2.07585,0.193621,6.121488,3.94511,0.560924,1.36987,1.21594,0.153929,5.31499
3,2003-06-04,0.546374,0.261893,1.38173,1.12293,0.258808,1.928109,4.20001,0.691386,2.22854,1.95345,0.275088,6.42855
4,2003-06-09,0.752151,0.240058,2.29541,1.9335,0.361901,3.047557,2.71059,0.542193,0.943768,0.780786,0.162982,3.65435

In [7]:
#loading my count data
###set the first line as col names
banner8=pd.read_excel('../AStahl Dataset/countdata_9.23.2019 .xls',sheet_name=1)
colnames8=list(banner8.columns)
###read in dataset with the col names that was just made
count_data=pd.read_excel('../AStahl Dataset/countdata_9.23.2019 .xls',sheet_name=1, 
                         names=colnames8, skiprows=1)
#rename columns
count_data.rename(columns={'DATE':'Date'}, inplace=True)
##remove unwanted columns by keeping the columns you want 
count_data=count_data.iloc[:,[0,3,8,214,215,216,217,218,234,245,248]]
count_data.head()

,Date,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25 00:00:00,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01 00:00:00,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08 00:00:00,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15 00:00:00,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22 00:00:00,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0

In [8]:
#merging some above datasets
data1=pd.merge(environ_data, chl_data, on=['Date'], how='outer')
data1.head()
#fixing the Date format for environ and chl
data1=data1[data1.Date!='*data missing']
data1['Date'] =  pd.to_datetime(data1['Date'],
                              format='%d-%b-%y')
data1
print(data1['Date'])

0      1999-01-25
1      1999-02-01
2      1999-02-08
3      1999-02-15
4      1999-02-22
5      1999-03-01
6      1999-03-10
7      1999-03-16
8      1999-03-24
9      1999-03-29
10     1999-04-05
11     1999-04-12
12     1999-04-19
13     1999-04-26
14     1999-05-03
15     1999-05-10
16     1999-05-11
17     1999-05-17
18     1999-05-26
19     1999-05-31
20     1999-06-07
21     1999-06-10
22     1999-06-10
23     1999-06-14
24     1999-06-21
25     1999-06-28
26     1999-07-05
27     1999-07-09
28     1999-07-12
29     1999-07-19
          ...
1232   2018-02-05
1233   2018-03-05
1234   2018-04-02
1235   2018-04-24
1236   2018-05-22
1237   2018-06-26
1238   2018-07-03
1239   2018-07-09
1240   2018-08-06
1241   2018-08-28
1242   2018-09-05
1243   2018-09-11
1244   2018-09-18
1245   2018-09-25
1246   2018-10-02
1247   2018-10-09
1248   2018-11-05
1249   2018-11-12
1250   2018-12-03
1251   2019-01-07
1252   2019-02-04
1253   2019-03-06
1254   2019-04-01
1255   2019-04-08
1256   2019-05-06
1257   2019-06-03
1258   2019-07-01
1259   2019-07-08
1260   2019-09-03
1261   2019-09-09
Name: Date, Length: 1261, dtype: datetime64[ns]

In [9]:
#merging more datasets
data2=pd.merge(Si_data, NandP_data, on=['Date'], how='outer')
data2.head(15)

#fixing the date format for Si and N/P
data2['Date'] =  pd.to_datetime(data2['Date'],
                              format='%Y-%m-%d')
print(data2['Date'])

0     2003-02-24
1     2003-03-10
2     2003-03-24
3     2003-04-09
4     2003-04-23
5            NaT
6            NaT
7            NaT
8            NaT
9            NaT
10           NaT
11    2003-05-21
12    2003-05-28
13    2003-06-04
14    2003-06-09
15    2003-06-16
16    2003-06-23
17    2003-06-30
18    2003-07-09
19    2003-07-14
20    2003-07-21
21    2003-07-28
22    2003-08-02
23    2003-08-02
24    2003-08-04
25    2003-08-13
26    2003-08-20
27    2003-08-27
28    2003-09-03
29    2003-09-10
         ...
741   2013-01-16
742   2013-01-21
743   2013-01-30
744   2013-02-05
745   2013-02-12
746   2013-02-19
747   2013-02-26
748   2013-03-05
749   2013-03-12
750   2013-03-20
751   2013-03-26
752   2013-04-02
753   2013-04-09
754   2013-04-16
755   2013-04-23
756   2013-04-30
757   2013-05-07
758   2013-05-14
759   2013-05-21
760   2013-05-27
761   2013-06-06
762   2013-06-11
763   2013-06-18
764   2013-06-24
765   2013-07-03
766   2013-07-08
767   2013-07-15
768   2013-07-22
769   2013-07-29
770   2015-03-30
Name: Date, Length: 771, dtype: datetime64[ns]

In [10]:
#merging the first 4 datasets
data3=pd.merge(data1,data2, on=['Date'], how='outer')
data3

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Surface NO3+2,Surface NO3,Surface NO2,Surface DIN,Bottom NH4,Bottom DIP,Bottom NO3+2,Bottom NO3,Bottom NO2,Bottom DIN
0,1999-01-25,0.00,0,3.72,0.80,3.26,1.15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1999-02-01,2.25,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999-02-01,NaN,NaN,2.90,0.74,2.66,0.83,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999-02-08,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1999-02-08,NaN,NaN,2.20,0.94,3.24,1.98,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1999-02-15,0.00,0,1.34,1.20,1.47,0.60,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1999-02-22,0.00,0,12.56,5.33,9.04,4.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1999-03-01,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1999-03-01,NaN,NaN,2.27,1.59,2.67,1.51,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1999-03-10,0.00,0,2.75,1.37,2.59,1.38,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1999-03-16,0.00,0,3.15,1.69,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1999-03-24,5.75,6,7.82,1.65,2.70,2.56,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1999-03-29,6.25,6.75,4.81,1.35,2.77,1.17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1999-04-05,7.00,6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1999-04-05,NaN,NaN,15.35,1.49,45.07,7.22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1999-04-12,0.00,0,8.74,1.46,14.04,3.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1999-04-19,0.00,0,2.19,0.96,4.20,1.81,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1999-04-26,0.00,0,3.75,1.24,12.50,2.27,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1999-05-03,11.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1999-05-03,NaN,NaN,1.24,0.69,2.75,1.02,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1999-05-10,12.50,11,2.62,1.31,3.11,1.30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1999-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1999-05-17,13.75,13.75,4.21,2.15,4.48,2.93,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1999-05-26,15.50,15.8,4.42,1.40,5.41,1.94,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1999-05-31,19.70,17.1,2.66,0.62,4.09,1.63,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1999-06-07,18.70,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1999-06-07,NaN,NaN,4.93,1.75,5.37,2.12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1999-06-14,19.30,18.8,5.32,2.00,5.21,2.07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2011-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.575,...,6.9945,6.3445,0.65,16.569500,6.36,1.279,6.947,6.355,0.592,13.307
1317,2011-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.72743,...,9.49653,8.93118,0.56535,14.223959,4.63743,1.14,6.06544,5.60509,0.46035,10.7029
1318,2011-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1974,...,14.0947,13.4664,0.62835,25.292139,9.01243,1.15,11.672,11.1172,0.55485,20.6845
1319,2012-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.27,...,10.0176,9.8286,0.189,11.287600,1.815,0.6735,9.9053,9.7133,0.192,11.7203
1320,2012-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.655,...,0.8315,0.81295,0.01855,2.486500,0.625,0.228,1.908,1.87675,0.03125,2.533
1321,2012-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.841,...,0.64,0.5929,0.0471,1.481000,0.554,0.2325,2.623,2.5882,0.0348,3.177
1322,2012-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,...,0.7865,0.7565,0.03,1.986500,0.792,0.259,0.9555,0.93075,0.02475,1.7475
1323,2012-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.73,...,0.9005,0.738,0.1625,5.630500,4.275,0.562,0.6615,0.464,0.1975,4.9365
1324,2012-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.665,...,2.193,0.553,1.64,8.858000,2.765,0.273,0.753,0.246,0.507,3.518
1325,2012-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.6875,...,0.63625,0.387,0.24925,6.323750,4.0225,0.46325,0.4365,0.25405,0.18245,4.459
1326,2012-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.225,...,0.5075,0.45025,0.05725,1.732500,1.905,0.242,1.248,0.9945,0.2535,3.153
1327,2012-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.46,...,2.618,0.368,2.25,10.078000,4.65,0.7455,1.923,0.178,1.745,6.573
1328,2012-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.905,...,8.3227,8.26045,0.06225,10.227700,0.469,0.46,8.219,8.0895,0.1295,8.688
1329,2012-04-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.52,...,1.124,0.121,1.003,5.644000,7,0.4645,NaN,NaN,2.45,NaN
1330,2012-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.72,...,0.911,0.8079,0.1031,2.631000,0.5795,0.3665,0.927,0.88315,0.04385,1.5065
1331,2012-04-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.61,...,0.487,0.3675,0.1195,9.097000,7.875,0.599,0.403,0.3593,0.0437,8.278
1332,2012-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.595,...,0.682,0.65685,0.02515,2.277000,2.12,0.561,0.3285,0.3057,0.0228,2.4485
1333,2012-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.03985,...,1.0913,1.06365,0.02765,1.131150,0.1105,0.33894,0.8983,0.89157,0.00673,1.0088
1334,2012-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.215,...,2.1008,1.9753,0.1255,4.315800,0.4405,0.63794,1.7008,1.6829,0.0179,2.1413
1335,2012-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.978,...,0.4713,0.3193,0.152,1.449300,3.255,0.69994,1.8658,1.6228,0.243,5.1208
1336,2012-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.985,...,1.6408,1.4188,0.222,4.625800,0.4295,0.82244,0.3093,0.23885,0.07045,0.7388
1337,2012-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.654,...,0.8418,0.78805,0.05375,1.495800,NaN,NaN,NaN,NaN,NaN,NaN
1338,2012-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2505,...,0.3818,0.28915,0.09265,0.632300,2,0.85644,0.9078,0.8391,0.0687,2.9078
1339,2012-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.84,...,1.0458,0.9143,0.1315,3.885800,4.45,1.46694,2.7358,1.8013,0.9345,7.1858
1340,2012-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.117,...,13.6792,11.3392,2.34,13.796200,1.135,1.71694,17.2372,15.4472,1.79,18.3722
1341,2012-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01,...,2.4908,1.6908,0.8,4.500800,2.765,1.39194,2.6608,1.9093,0.7515,5.4258
1342,2012-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.155,...,5.3908,2.5758,2.815,9.545800,4.315,1.40194,4.8158,2.6308,2.185,9.1308
1343,2012-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.73,...,10.0841,9.4626,0.6215,15.814100,2.17,1.14694,8.69659,8.67944,0.01715,10.8666
1344,2013-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4435,...,0.0424,-0.008,0.0504,0.485900,0.7455,0.528,0.207,0.1304,0.0766,0.9525
1345,2013-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.486,...,0.2225,0.1514,0.0711,0.708500,2.73,0.729,1.26,1.121,0.139,3.99

In [11]:
#fixing the count data date format
count_data['Date']= pd.to_datetime(count_data['Date'],errors='coerce')
count_data.info()
count_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1585 entries, 0 to 1584
Data columns (total 11 columns):
Date                                   1578 non-null datetime64[ns]
Total abundance                        1576 non-null float64
Akashiwo sanguineum                    1580 non-null float64
Pseudo-nitzschia fraudulenta           1580 non-null object
Pseudonitzschia pseudodelicatissima    1580 non-null float64
Pseudonitzschia pungens                1580 non-null float64
Pseudo-nitzschia spp.                  1573 non-null float64
Pseudo-nitzschia turgidula cf          1580 non-null float64
Skeletonema spp.                       1580 non-null float64
Thalassiosira nordenskioeldii          1580 non-null float64
Thalassiosira rotula                   1570 non-null float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 136.3+ KB

,Date,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0

In [12]:
#final merge of all datasets
data=pd.merge(data3,count_data, on=['Date'], how='outer')
data.head()

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,0.00,0,3.72,0.80,3.26,1.15,NaN,NaN,NaN,...,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,2.25,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-01,NaN,NaN,2.90,0.74,2.66,0.83,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
3,1999-02-08,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
4,1999-02-08,NaN,NaN,2.20,0.94,3.24,1.98,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0

In [13]:
#I am not looking to fill in any data so I don't want to use the  fillna function
#If I am looking to compare changes over time, I need all the values for all of the variables
#therefore I think the best way to be able to collect all that data is to remove the entire row
data.dropna(how='all')
# I do not think that the data.dropna() will give me enough resolution for the test I want to do 
#Can I do statistical analysis with the data if there is NaN in it? Or does NaN HAVE to be removed 
     ##to do statistical analysis?

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,0.00,0,3.72,0.80,3.26,1.15,NaN,NaN,NaN,...,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,2.25,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-01,NaN,NaN,2.90,0.74,2.66,0.83,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
3,1999-02-08,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
4,1999-02-08,NaN,NaN,2.20,0.94,3.24,1.98,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
5,1999-02-15,0.00,0,1.34,1.20,1.47,0.60,NaN,NaN,NaN,...,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1999-02-22,0.00,0,12.56,5.33,9.04,4.97,NaN,NaN,NaN,...,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0
7,1999-03-01,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
8,1999-03-01,NaN,NaN,2.27,1.59,2.67,1.51,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
9,1999-03-10,0.00,0,2.75,1.37,2.59,1.38,NaN,NaN,NaN,...,42500.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
10,1999-03-16,0.00,0,3.15,1.69,NaN,NaN,NaN,NaN,NaN,...,96500.0,0.0,0,0.0,0.0,0.0,0.0,25500.0,0.0,0.0
11,1999-03-24,5.75,6,7.82,1.65,2.70,2.56,NaN,NaN,NaN,...,300500.0,0.0,0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0
12,1999-03-29,6.25,6.75,4.81,1.35,2.77,1.17,NaN,NaN,NaN,...,439000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1999-04-05,7.00,6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2949300.0,0.0,0,0.0,0.0,0.0,0.0,33900.0,0.0,0.0
14,1999-04-05,NaN,NaN,15.35,1.49,45.07,7.22,NaN,NaN,NaN,...,2949300.0,0.0,0,0.0,0.0,0.0,0.0,33900.0,0.0,0.0
15,1999-04-12,0.00,0,8.74,1.46,14.04,3.25,NaN,NaN,NaN,...,1474000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1999-04-19,0.00,0,2.19,0.96,4.20,1.81,NaN,NaN,NaN,...,101000.0,0.0,0,0.0,0.0,0.0,0.0,10500.0,0.0,0.0
17,1999-04-26,0.00,0,3.75,1.24,12.50,2.27,NaN,NaN,NaN,...,1856000.0,0.0,0,0.0,0.0,0.0,0.0,220000.0,0.0,0.0
18,1999-05-03,11.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,767000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1999-05-03,NaN,NaN,1.24,0.69,2.75,1.02,NaN,NaN,NaN,...,767000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1999-05-10,12.50,11,2.62,1.31,3.11,1.30,NaN,NaN,NaN,...,576000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1999-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1999-05-17,13.75,13.75,4.21,2.15,4.48,2.93,NaN,NaN,NaN,...,2841000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1999-05-26,15.50,15.8,4.42,1.40,5.41,1.94,NaN,NaN,NaN,...,1244000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1999-05-31,19.70,17.1,2.66,0.62,4.09,1.63,NaN,NaN,NaN,...,571000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,1999-06-07,18.70,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,230000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1999-06-07,NaN,NaN,4.93,1.75,5.37,2.12,NaN,NaN,NaN,...,230000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1999-06-14,19.30,18.8,5.32,2.00,5.21,2.07,NaN,NaN,NaN,...,92000.0,0.0,0,0.0,0.0,0.0,0.0,13000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,2012-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2086,2012-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2087,2012-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088,2013-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,2013-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090,2001-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2279000.0,0.0,0,0.0,0.0,7000.0,0.0,1365000.0,0.0,0.0
2091,2011-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334000.0,0.0,0,0.0,0.0,0.0,0.0,104000.0,0.0,0.0
2092,2011-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180000.0,0.0,0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0
2093,2013-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2265000.0,0.0,0,0.0,0.0,0.0,0.0,99000.0,0.0,0.0
2094,2013-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,516000.0,0.0,0,0.0,0.0,16000.0,0.0,38000.0,0.0,0.0
2095,2013-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1078200.0,0.0,0,0.0,0.0,2000.0,0.0,28000.0,0.0,0.0
2096,2013-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,670000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
2097,2013-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,711000.0,2000.0,0,0.0,0.0,2000.0,0.0,6000.0,0.0,0.0
2098,2013-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,275000.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0
2099,2013-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,359100.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100,2013-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,225000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2101,2013-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,414500.0,0.0,0,0.0,0.0,0.0,0.0,1200.0,0.0,0.0
2102,2013-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
2103,2013-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,152000.0,0.0,0,0.0,0.0,0.0,0.0,11700.0,0.0,18000.0
2104,2013-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,172000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2105,2015-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1941000.0,0.0,0,0.0,0.0,0.0,0.0,1774000.0,0.0,0.0
2106,2015-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1827000.0,0.0,0,0.0,0.0,0.0,0.0,1622000.0,0.0,0.0
2107,2015-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2002000.0,0.0,0,0.0,0.0,0.0,0.0,1062000.0,243000.0,0.0
2108,2015-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2198000.0,0.0,0,0.0,0.0,0.0,0.0,756000.0,184000.0,0.0
2109,2018-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33000.0,0.0,0,0.0,0.0,11000.0,0.0,0.0,0.0,0.0
2110,2018-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2111,2017-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1657000.0,0.0,0,0.0,0.0,0.0,0.0,61000.0,0.0,0.0
2112,2017-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2190000.0,0.0,0,0.0,0.0,0.0,0.0,59000.0,0.0,0.0
2113,2018-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
2114,2018-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
#removing duplicates
data.duplicated()
data.drop_duplicates()

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,0.00,0,3.72,0.80,3.26,1.15,NaN,NaN,NaN,...,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,2.25,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-01,NaN,NaN,2.90,0.74,2.66,0.83,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
3,1999-02-08,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
4,1999-02-08,NaN,NaN,2.20,0.94,3.24,1.98,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
5,1999-02-15,0.00,0,1.34,1.20,1.47,0.60,NaN,NaN,NaN,...,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1999-02-22,0.00,0,12.56,5.33,9.04,4.97,NaN,NaN,NaN,...,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0
7,1999-03-01,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
8,1999-03-01,NaN,NaN,2.27,1.59,2.67,1.51,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
9,1999-03-10,0.00,0,2.75,1.37,2.59,1.38,NaN,NaN,NaN,...,42500.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
10,1999-03-16,0.00,0,3.15,1.69,NaN,NaN,NaN,NaN,NaN,...,96500.0,0.0,0,0.0,0.0,0.0,0.0,25500.0,0.0,0.0
11,1999-03-24,5.75,6,7.82,1.65,2.70,2.56,NaN,NaN,NaN,...,300500.0,0.0,0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0
12,1999-03-29,6.25,6.75,4.81,1.35,2.77,1.17,NaN,NaN,NaN,...,439000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1999-04-05,7.00,6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2949300.0,0.0,0,0.0,0.0,0.0,0.0,33900.0,0.0,0.0
14,1999-04-05,NaN,NaN,15.35,1.49,45.07,7.22,NaN,NaN,NaN,...,2949300.0,0.0,0,0.0,0.0,0.0,0.0,33900.0,0.0,0.0
15,1999-04-12,0.00,0,8.74,1.46,14.04,3.25,NaN,NaN,NaN,...,1474000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1999-04-19,0.00,0,2.19,0.96,4.20,1.81,NaN,NaN,NaN,...,101000.0,0.0,0,0.0,0.0,0.0,0.0,10500.0,0.0,0.0
17,1999-04-26,0.00,0,3.75,1.24,12.50,2.27,NaN,NaN,NaN,...,1856000.0,0.0,0,0.0,0.0,0.0,0.0,220000.0,0.0,0.0
18,1999-05-03,11.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,767000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1999-05-03,NaN,NaN,1.24,0.69,2.75,1.02,NaN,NaN,NaN,...,767000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1999-05-10,12.50,11,2.62,1.31,3.11,1.30,NaN,NaN,NaN,...,576000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1999-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1999-05-17,13.75,13.75,4.21,2.15,4.48,2.93,NaN,NaN,NaN,...,2841000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1999-05-26,15.50,15.8,4.42,1.40,5.41,1.94,NaN,NaN,NaN,...,1244000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1999-05-31,19.70,17.1,2.66,0.62,4.09,1.63,NaN,NaN,NaN,...,571000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,1999-06-07,18.70,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,230000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1999-06-07,NaN,NaN,4.93,1.75,5.37,2.12,NaN,NaN,NaN,...,230000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1999-06-14,19.30,18.8,5.32,2.00,5.21,2.07,NaN,NaN,NaN,...,92000.0,0.0,0,0.0,0.0,0.0,0.0,13000.0,0.0,0.0
30,1999-06-21,19.20,18.4,6.03,1.91,5.33,2.09,NaN,NaN,NaN,...,466000.0,0.0,0,0.0,0.0,0.0,40000.0,71000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,2012-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2086,2012-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2087,2012-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088,2013-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,2013-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090,2001-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2279000.0,0.0,0,0.0,0.0,7000.0,0.0,1365000.0,0.0,0.0
2091,2011-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334000.0,0.0,0,0.0,0.0,0.0,0.0,104000.0,0.0,0.0
2092,2011-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180000.0,0.0,0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0
2093,2013-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2265000.0,0.0,0,0.0,0.0,0.0,0.0,99000.0,0.0,0.0
2094,2013-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,516000.0,0.0,0,0.0,0.0,16000.0,0.0,38000.0,0.0,0.0
2095,2013-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1078200.0,0.0,0,0.0,0.0,2000.0,0.0,28000.0,0.0,0.0
2096,2013-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,670000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
2097,2013-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,711000.0,2000.0,0,0.0,0.0,2000.0,0.0,6000.0,0.0,0.0
2098,2013-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,275000.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0
2099,2013-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,359100.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100,2013-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,225000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2101,2013-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,414500.0,0.0,0,0.0,0.0,0.0,0.0,1200.0,0.0,0.0
2102,2013-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
2103,2013-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,152000.0,0.0,0,0.0,0.0,0.0,0.0,11700.0,0.0,18000.0
2104,2013-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,172000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2105,2015-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1941000.0,0.0,0,0.0,0.0,0.0,0.0,1774000.0,0.0,0.0
2106,2015-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1827000.0,0.0,0,0.0,0.0,0.0,0.0,1622000.0,0.0,0.0
2107,2015-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2002000.0,0.0,0,0.0,0.0,0.0,0.0,1062000.0,243000.0,0.0
2108,2015-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2198000.0,0.0,0,0.0,0.0,0.0,0.0,756000.0,184000.0,0.0
2109,2018-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33000.0,0.0,0,0.0,0.0,11000.0,0.0,0.0,0.0,0.0
2110,2018-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2111,2017-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1657000.0,0.0,0,0.0,0.0,0.0,0.0,61000.0,0.0,0.0
2112,2017-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2190000.0,0.0,0,0.0,0.0,0.0,0.0,59000.0,0.0,0.0
2113,2018-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
2114,2018-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#Save your file (change the name if necessary).
data.to_csv('../AStahl Dataset/all_data.csv')

**2)** A brief survey: Have you taken an introductory statistics course, and if so, do you remember much from it? For example,

* Can you articulate the null hypotheses for the questions you formulated last week involving your data? 
* Do you know what a t-test is for?
* Do you know what a *p* value represents?
* Do you know what standard deviation is, and how it's calculated?

I took an undergraduate 'Introduction to statistics' class as well as a graduate 'Ecological Statistics' course. 
The null hypothesis for my questions is that there will be no change in temperature/environmental factors or cell abundance over time. 
A t-test is used to determine if there is a statistical difference between the means of 2 groups. 
A p-value is the set level used to determine if there is a significant statistical result from your analysis (usually 0.05). The p-value is the main source of information for accepting or rejecting your null hypothesis. 
The standard deviation tells you how far your data spreads out around the mean. To calculate it:
     find the mean of your dataset
     subtract the mean from each data point 
     square the result
     find the mean of the squared results (this number is known as the variance)
     take the square root of the variance and that is your SD.

#### Submitting

In the Terminal (Mac) or Git Bash (Windows):

`git commit -a -m 'Assignment 6 completed'`  
`git push`

### Reading

1. [_Python for Data Analysis_](https://uri-primo.hosted.exlibrisgroup.com/permalink/f/10nopmq/01URI_ALMA51209454630002396):
    * Section 7.3
    * Chapter 10