# Assignment 6

*(Due Saturday, October 26, 2019 at noon.)*

**1)** Below, paste the code needed to import and clean your file from the `../dataset` directory in your repository, then save the result to a new file. I should be able to run the code in this notebook and get my own copy of your cleaned, processed data.

**Note:** Your assignment file will be publicly accessible on Github. If your dataset is private, don't print anything confidential in this assignment.

In [2]:
import numpy as np
import pandas as pd

In [3]:
#loading my environmental data
###set the first line as col names
banner4=pd.read_csv('../AStahl Dataset/PhysicalData_9.23.2019 .csv', nrows=5, encoding='latin')
colnames4 = list(banner4.columns)

#print(colnames4)

###read in dataset with the col names that was just made
environ_data=pd.read_csv('../AStahl Dataset/PhysicalData_9.23.2019 .csv', encoding='latin', 
                         names=colnames4, skiprows=2)

###only pulling the columns I want to use 
environ_data=environ_data.iloc[:,[3,6]]

###fixing the date format
environ_data['Date'] =  pd.to_datetime(environ_data['Date'], format='%d-%b-%y')
environ_data.head()

#environ_data.info()
####GOOD TO GO

        Date  Surface Temp
0 1999-01-25          0.00
1 1999-02-01          2.25
2 1999-02-08          0.00
3 1999-02-15          0.00
4 1999-02-22          0.00

In [4]:
#loading my chlorophyll data 
###set the first line as col names
banner5=pd.read_csv('../AStahl Dataset/chldata_9.23.2019.csv')
colnames5 = list(banner5.columns)

##print(colnames5)

###read in dataset with the col names that was just made
chl_data=pd.read_csv('../AStahl Dataset/chldata_9.23.2019.csv', 
                     names=colnames5,skiprows=3)

###remove the last unwated 'notes' rows
chl_data=chl_data.iloc[:,:-22]

###only pulling the columns I want to use
chl_data=chl_data.iloc[:,[12,13,14]]

##Rename columns
chl_data.rename(columns={'Sample Date.1':'Date','surface chla all':'Surface Chla all',
                        'Surface Phaeo all.1':'Surface Phaeo all'}, inplace=True)
##fixing the Date format
chl_data=chl_data[chl_data.Date!='*data missing']
chl_data['Date'] =  pd.to_datetime(chl_data['Date'], format='%d-%b-%y')
chl_data.head()

#chl_data.info()
###GOOD TO GO

        Date Surface Chla all Surface Phaeo all
0 1999-01-25             3.72              0.80
1 1999-02-01             2.90              0.74
2 1999-02-08             2.20              0.94
3 1999-02-15             1.34              1.20
4 1999-02-22            12.56              5.33

In [5]:
#loading my silica data
###set the first line as col names
banner6=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=1)
colnames6=list(banner6.columns)

#print(colnames6)

###read in dataset with the col names that was just made
Si_data=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=1, names=colnames6,
                     skiprows=2)
#rename columns
Si_data.rename(columns={'DATE':'Date','Si':'Surface Si'}, inplace=True)

##remove unwanted columns by keeping the columns you want 
Si_data=Si_data.iloc[:,[1,3]]

#fixing the date format 
Si_data['Date'] =  pd.to_datetime(Si_data['Date'], format='%Y-%m-%d')
Si_data.head()

#Si_data.info()
###GOOD TO GO

        Date Surface Si
0 2003-02-24   0.134507
1 2003-03-10   0.779352
2 2003-03-24    3.54383
3 2003-04-09     2.6703
4 2003-04-23    1.20083

In [6]:
#loading my nitrogen and phosphorus data
###set the fifth line as col names
banner7=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=0, header=4)
colnames7=list(banner7.columns)

#print(colnames7)

###read in dataset with the col names that was just made
NandP_data=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=0, names=colnames7,
                         skiprows=6)
###rename columns
NandP_data.rename(columns={'Unnamed: 0':'Date','NH4':'Surface NH4','DIP':'Surface DIP',
                           'NO3+2':'Surface NO3+2','NO3':'Surface NO3','NO2':'Surface NO2',
                          'DIN':'Surface DIN'}, inplace=True)

##remove unwanted columns by keeping the columns you want 
NandP_data=NandP_data.iloc[:,[0,2,3,4,5,6,7]]

#fixing the date format 
NandP_data['Date'] =  pd.to_datetime(NandP_data['Date'], format='%Y-%m-%d')
NandP_data.head()

#NandP_data.info()
##GOOD TO GO

,Date,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,Surface DIN
0,2003-05-05,1.17807,0.171054,2.31024,2.09136,0.218876,3.488308
1,2003-05-21,0.241243,0.0941145,0.108927,0.0469255,0.0620015,0.350170
2,2003-05-28,3.85202,0.440969,2.26947,2.07585,0.193621,6.121488
3,2003-06-04,0.546374,0.261893,1.38173,1.12293,0.258808,1.928109
4,2003-06-09,0.752151,0.240058,2.29541,1.9335,0.361901,3.047557

In [7]:
######loading my count data
###set the first line as col names
banner8=pd.read_excel('../AStahl Dataset/countdata_9.23.2019 .xls',sheet_name=1)
colnames8=list(banner8.columns)

#print(colnames8)

###read in dataset with the col names that was just made
count_data=pd.read_excel('../AStahl Dataset/countdata_9.23.2019 .xls',sheet_name=1, 
                         names=colnames8, skiprows=1)
#rename columns
count_data.rename(columns={'DATE':'Date','COUNT TYPE':'count_type', 'Pseudo-nitzschia spp.':'Uncl. Pseudo-nitzschia',
                           'Skeletonema spp.':'Uncl. Skeletonema'}, inplace=True)

#in the COUNT TYPE section there are several different types:surface, bottom, or mixed
#I am only looking for the surface and if surface is not available then I am looking for mixed
#filtering for the surface and mixed values
surface_values=['S/R Cell mixed', 'S/R Surface', 'S/R surface']
surf_count_data=count_data[count_data.count_type.isin(surface_values)]

##remove unwanted columns by keeping the columns you want 
surf_count_data=surf_count_data.iloc[:,[0,3,8,214,215,216,217,218,234,245,248]]

#fixing the date format
surf_count_data['Date']= pd.to_datetime(surf_count_data['Date'],errors='coerce')
surf_count_data['Date'] =pd.to_datetime(surf_count_data['Date'], format='%Y-%m-%d')
surf_count_data.head()

#surf_count_data.info()

##GOOD TO GO

,Date,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Uncl. Pseudo-nitzschia,Pseudo-nitzschia turgidula cf,Uncl. Skeletonema,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0

In [8]:
#want to look at surf_count_data
surf_count_data.to_csv('../AStahl Dataset/surf_count_data.csv')

In [9]:
#merging some above datasets
data1=pd.merge(environ_data, chl_data, on=['Date'], how='outer')

#Putting all of the dates in chronological order
data1.sort_values('Date', inplace=True)
data1.head()

        Date  Surface Temp Surface Chla all Surface Phaeo all
0 1999-01-25          0.00             3.72              0.80
1 1999-02-01          2.25             2.90              0.74
2 1999-02-08          0.00             2.20              0.94
3 1999-02-15          0.00             1.34              1.20
4 1999-02-22          0.00            12.56              5.33

In [10]:
#want to look at entire data1 so far
data1.to_csv('../AStahl Dataset/data1.csv')

In [11]:
#merging more datasets
data2=pd.merge(Si_data, NandP_data, on=['Date'], how='outer')

#Putting all of the dates in chronological order
data2.sort_values('Date', inplace=True)
data2.head(15)

,Date,Surface Si,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,Surface DIN
0,2003-02-24,0.134507,NaN,NaN,NaN,NaN,NaN,NaN
1,2003-03-10,0.779352,NaN,NaN,NaN,NaN,NaN,NaN
2,2003-03-24,3.54383,NaN,NaN,NaN,NaN,NaN,NaN
3,2003-04-09,2.6703,NaN,NaN,NaN,NaN,NaN,NaN
4,2003-04-23,1.20083,NaN,NaN,NaN,NaN,NaN,NaN
579,2003-05-05,NaN,1.17807,0.171054,2.31024,2.09136,0.218876,3.488308
11,2003-05-21,0.269958,0.241243,0.0941145,0.108927,0.0469255,0.0620015,0.350170
12,2003-05-28,9.06109,3.85202,0.440969,2.26947,2.07585,0.193621,6.121488
13,2003-06-04,27.7229,0.546374,0.261893,1.38173,1.12293,0.258808,1.928109
14,2003-06-09,23.7053,0.752151,0.240058,2.29541,1.9335,0.361901,3.047557
15,2003-06-16,26.176,1.07933,0.409145,1.32016,1.12027,0.199891,2.399490
16,2003-06-23,30.0992,3.92479,0.588435,2.41355,2.04619,0.367367,6.338339
17,2003-06-30,0.121973,0.614473,0.041023,0.196921,0.159576,0.037345,0.811394
18,2003-07-09,1.00975,0.67746,0.410937,0.274356,0.241438,0.032918,0.951816
19,2003-07-14,0.581253,1.16849,0.17604,0.278762,0.241812,0.03695,1.447253

In [12]:
#want to look at entire data2 so far
data2.to_csv('../AStahl Dataset/data2.csv')

In [13]:
#merging the first 4 datasets
data3=pd.merge(data1,data2, on=['Date'], how='outer')

#Putting all of the dates in chronological order
data3.sort_values('Date', inplace=True)

data3.head()

,Date,Surface Temp,Surface Chla all,Surface Phaeo all,Surface Si,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,Surface DIN
0,1999-01-25,0.00,3.72,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1999-02-01,2.25,2.90,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999-02-08,0.00,2.20,0.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999-02-15,0.00,1.34,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1999-02-22,0.00,12.56,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#want to look at entire data3 so far
data3.to_csv('../AStahl Dataset/data3.csv')

In [15]:
#final merge of all datasets
data=pd.merge(data3,surf_count_data, on=['Date'], how='outer')

#Putting all of the dates in chronological order
data.sort_values('Date', inplace=True)
data.head()

,Date,Surface Temp,Surface Chla all,Surface Phaeo all,Surface Si,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Uncl. Pseudo-nitzschia,Pseudo-nitzschia turgidula cf,Uncl. Skeletonema,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,0.00,3.72,0.80,NaN,NaN,NaN,NaN,NaN,NaN,...,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,2.25,2.90,0.74,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08,0.00,2.20,0.94,NaN,NaN,NaN,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15,0.00,1.34,1.20,NaN,NaN,NaN,NaN,NaN,NaN,...,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22,0.00,12.56,5.33,NaN,NaN,NaN,NaN,NaN,NaN,...,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0

In [16]:
#I am not looking to fill in any data so I don't want to use the  fillna function
#If I am looking to compare changes over time, I need all the values for all of the variables
#therefore I think the best way to be able to collect all that data is to remove the entire row
data.dropna(how='all')
# I do not think that the data.dropna() will give me enough resolution for the test I want to do 
#Can I do statistical analysis with the data if there is NaN in it? Or does NaN HAVE to be removed 
     ##to do statistical analysis?
    
#removing duplicates
data.drop_duplicates()

,Date,Surface Temp,Surface Chla all,Surface Phaeo all,Surface Si,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Uncl. Pseudo-nitzschia,Pseudo-nitzschia turgidula cf,Uncl. Skeletonema,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,0.00,3.72,0.80,NaN,NaN,NaN,NaN,NaN,NaN,...,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,2.25,2.90,0.74,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08,0.00,2.20,0.94,NaN,NaN,NaN,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15,0.00,1.34,1.20,NaN,NaN,NaN,NaN,NaN,NaN,...,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22,0.00,12.56,5.33,NaN,NaN,NaN,NaN,NaN,NaN,...,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0
5,1999-03-01,0.00,2.27,1.59,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
6,1999-03-10,0.00,2.75,1.37,NaN,NaN,NaN,NaN,NaN,NaN,...,42500.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
7,1999-03-16,0.00,3.15,1.69,NaN,NaN,NaN,NaN,NaN,NaN,...,96500.0,0.0,0,0.0,0.0,0.0,0.0,25500.0,0.0,0.0
8,1999-03-24,5.75,7.82,1.65,NaN,NaN,NaN,NaN,NaN,NaN,...,300500.0,0.0,0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0
9,1999-03-29,6.25,4.81,1.35,NaN,NaN,NaN,NaN,NaN,NaN,...,439000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1999-04-05,7.00,15.35,1.49,NaN,NaN,NaN,NaN,NaN,NaN,...,2949300.0,0.0,0,0.0,0.0,0.0,0.0,33900.0,0.0,0.0
11,1999-04-12,0.00,8.74,1.46,NaN,NaN,NaN,NaN,NaN,NaN,...,1474000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1999-04-19,0.00,2.19,0.96,NaN,NaN,NaN,NaN,NaN,NaN,...,101000.0,0.0,0,0.0,0.0,0.0,0.0,10500.0,0.0,0.0
13,1999-04-26,0.00,3.75,1.24,NaN,NaN,NaN,NaN,NaN,NaN,...,1856000.0,0.0,0,0.0,0.0,0.0,0.0,220000.0,0.0,0.0
14,1999-05-03,11.00,1.24,0.69,NaN,NaN,NaN,NaN,NaN,NaN,...,767000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1999-05-10,12.50,2.62,1.31,NaN,NaN,NaN,NaN,NaN,NaN,...,576000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1999-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1999-05-17,13.75,4.21,2.15,NaN,NaN,NaN,NaN,NaN,NaN,...,2841000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1999-05-26,15.50,4.42,1.40,NaN,NaN,NaN,NaN,NaN,NaN,...,1244000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1999-05-31,19.70,2.66,0.62,NaN,NaN,NaN,NaN,NaN,NaN,...,571000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1999-06-07,18.70,4.93,1.75,NaN,NaN,NaN,NaN,NaN,NaN,...,230000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1999-06-14,19.30,5.32,2.00,NaN,NaN,NaN,NaN,NaN,NaN,...,92000.0,0.0,0,0.0,0.0,0.0,0.0,13000.0,0.0,0.0
24,1999-06-21,19.20,6.03,1.91,NaN,NaN,NaN,NaN,NaN,NaN,...,466000.0,0.0,0,0.0,0.0,0.0,40000.0,71000.0,0.0,0.0
25,1999-06-28,20.90,5.56,2.94,NaN,NaN,NaN,NaN,NaN,NaN,...,2982708.0,0.0,0,0.0,0.0,0.0,328555.0,759962.0,0.0,0.0
26,1999-07-05,23.00,11.26,2.32,NaN,NaN,NaN,NaN,NaN,NaN,...,2670898.0,0.0,0,0.0,0.0,0.0,0.0,123618.0,0.0,0.0
27,1999-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1999-07-12,20.60,4.29,2.45,NaN,NaN,NaN,NaN,NaN,NaN,...,61000.0,0.0,0,0.0,0.0,0.0,0.0,13000.0,0.0,0.0
29,1999-07-19,22.80,5.04,2.71,NaN,NaN,NaN,NaN,NaN,NaN,...,215000.0,0.0,0,0.0,0.0,0.0,0.0,37000.0,0.0,0.0
30,1999-07-26,22.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2933452.0,0.0,0,0.0,0.0,0.0,97376.0,395590.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,2019-03-11,2.54,8.59,0.44,0.140789,0.32656,0.108062,0.579286,0.539822,0.0394641,...,10191000.0,0.0,0,0.0,0.0,0.0,0.0,3880000.0,0.0,0.0
1121,2019-03-18,4.23,0.80,0.39,0.93317,0.835622,0.190585,0.410079,0.373015,0.0370643,...,471000.0,0.0,0,0.0,0.0,0.0,0.0,58000.0,0.0,0.0
1122,2019-03-25,5.22,2.40,1.04,1.24851,0.29678,0.161237,0.362711,0.334248,0.0284629,...,1417000.0,0.0,0,0.0,0.0,0.0,0.0,4000.0,0.0,0.0
1123,2019-04-01,6.15,3.74,0.90,1.13223,0.277929,0.183602,0.530818,0.505848,0.0249698,...,1464000.0,0.0,0,0.0,0.0,0.0,0.0,18000.0,0.0,0.0
1124,2019-04-08,8.31,1.24,1.13,2.77044,0.453906,0.261323,0.547998,0.501936,0.0460625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,2019-04-17,7.90,2.31,0.67,2.54765,0.765025,0.250946,1.58703,1.54125,0.0457784,...,328000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1126,2019-04-22,10.75,1.94,-0.07,2.21235,0.329668,0.29261,0.346899,0.307605,0.0392942,...,79000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1127,2019-04-29,10.39,3.24,1.04,9.24377,0.766995,0.111746,1.06953,0.988289,0.0812421,...,295000.0,0.0,0,0.0,0.0,0.0,0.0,106000.0,0.0,0.0
1128,2019-05-06,10.05,4.44,1.94,9.64435,1.25618,0.205665,2.28198,2.16827,0.113706,...,736000.0,0.0,0,0.0,0.0,0.0,0.0,718000.0,0.0,0.0
1129,2019-05-13,NaN,3.96,0.02,11.5803,0.596203,0.297688,2.70818,2.53555,0.172631,...,9000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
1130,2019-05-20,12.54,2.63,1.38,8.30589,0.408587,0.350142,0.45099,0.385914,0.0650753,...,58000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,2019-05-28,16.73,4.45,-0.27,6.72947,0.684148,0.211045,0.179114,0.152603,0.0265103,...,547000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1132,2019-06-03,16.28,2.29,1.34,3.88819,0.571781,0.226528,0.280832,0.236304,0.0445279,...,536000.0,0.0,0,0.0,0.0,274000.0,0.0,84000.0,0.0,26000.0
1133,2019-06-10,17.50,2.29,1.96,9.34667,0.994796,0.527854,0.987897,0.940883,0.0470144,...,80000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1134,2019-06-17,17.78,4.44,2.19,6.834,1.843,0.529,0.545,0.461,0.084,...,882000.0,0.0,0,0.0,0.0,0.0,0.0,153000.0,0.0,22000.0
1135,2019-06-24,19.31,8.75,2.99,10.019,0.223,0.403,0.223,0.115,0.108,...,2629000.0,0.0,0,0.0,0.0,0.0,0.0,74000.0,0.0,4000.0
1136,2019-07-01,NaN,5.59,2.98,13.043,0.499,0.579,0.499,0.416,0.083,...,1462000.0,0.0,0,0.0,0.0,0.0,0.0,83000.0,0.0,0.0
1137,2019-07-08,22.30,6.62,2.87,7.195,0.197,0.536,0.197,0.139,0.058,...,350000.0,0.0,0,0.0,0.0,0.0,0.0,76000.0,0.0,0.0
1138,2019-07-15,23.47,5.53,2.28,13.096,0.404,0.545,0.405,0.253,0.152,...,2034000.0,0.0,0,0.0,0.0,13000.0,0.0,1576000.0,0.0,0.0
1139,2019-07-22,25.47,2.80,1.21,15.679,0.589,0.619,0.588,0.445,0.143,...,1740000.0,0.0,0,0.0,0.0,14000.0,0.0,1357000.0,0.0,0.0
1140,2019-07-29,23.09,1.85,3.73,15.733,0.274,0.725,0.274,0.243,0.031,...,141000.0,0.0,0,0.0,0.0,16000.0,0.0,0.0,0.0,0.0
1141,2019-08-05,23.21,6.24,2.31,21.166,0.294,1.102,0.294,0.196,0.098,...,1053000.0,0.0,0,0.0,0.0,106000.0,0.0,34000.0,0.0,0.0
1142,2019-08-12,22.38,4.42,4.30,18.907,0.969,1.205,0.969,0.893,0.076,...,153000.0,0.0,0,0.0,0.0,7000.0,0.0,22000.0,0.0,0.0
1143,2019-08-20,23.49,5.46,5.90,19.66,1.269,1.158,1.269,1.183,0.086,...,523000.0,8000.0,0,0.0,0.0,0.0,0.0,235000.0,0.0,0.0
1144,2019-08-26,21.69,8.28,6.47,23.749,0.52,1.27,0.52,0.429,0.091,...,176000.0,23000.0,0,0.0,0.0,0.0,0.0,33000.0,0.0,0.0
1145,2019-09-03,21.30,6.11,4.88,23.713,1.707,1.362,1.707,1.619,0.088,...,352000.0,12000.0,0,0.0,0.0,4000.0,0.0,139000.0,0.0,0.0
1146,2019-09-09,20.20,5.33,3.65,NaN,NaN,NaN,NaN,NaN,NaN,...,7376000.0,0.0,0,0.0,0.0,0.0,0.0,6820000.0,0.0,0.0
1147,2019-09-16,20.91,5.83,5.92,NaN,NaN,NaN,NaN,NaN,NaN,...,4822000.0,0.0,0,0.0,0.0,0.0,0.0,3583000.0,0.0,0.0
1148,2019-09-23,19.73,6.12,5.56,NaN,NaN,NaN,NaN,NaN,NaN,...,2185000.0,0.0,0,0.0,0.0,2000.0,0.0,2162000.0,0.0,0.0
1149,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147000.0,2000.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#don't ask me why this has to be done but it is the only way I could figure out to get rid of the last row
data.drop([1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,
           1168,1169,1170,1171,1172], inplace=True)
data
###FINALLY

,Date,Surface Temp,Surface Chla all,Surface Phaeo all,Surface Si,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Uncl. Pseudo-nitzschia,Pseudo-nitzschia turgidula cf,Uncl. Skeletonema,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,0.00,3.72,0.80,NaN,NaN,NaN,NaN,NaN,NaN,...,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,2.25,2.90,0.74,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08,0.00,2.20,0.94,NaN,NaN,NaN,NaN,NaN,NaN,...,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15,0.00,1.34,1.20,NaN,NaN,NaN,NaN,NaN,NaN,...,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22,0.00,12.56,5.33,NaN,NaN,NaN,NaN,NaN,NaN,...,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0
5,1999-03-01,0.00,2.27,1.59,NaN,NaN,NaN,NaN,NaN,NaN,...,113000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
6,1999-03-10,0.00,2.75,1.37,NaN,NaN,NaN,NaN,NaN,NaN,...,42500.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
7,1999-03-16,0.00,3.15,1.69,NaN,NaN,NaN,NaN,NaN,NaN,...,96500.0,0.0,0,0.0,0.0,0.0,0.0,25500.0,0.0,0.0
8,1999-03-24,5.75,7.82,1.65,NaN,NaN,NaN,NaN,NaN,NaN,...,300500.0,0.0,0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0
9,1999-03-29,6.25,4.81,1.35,NaN,NaN,NaN,NaN,NaN,NaN,...,439000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1999-04-05,7.00,15.35,1.49,NaN,NaN,NaN,NaN,NaN,NaN,...,2949300.0,0.0,0,0.0,0.0,0.0,0.0,33900.0,0.0,0.0
11,1999-04-12,0.00,8.74,1.46,NaN,NaN,NaN,NaN,NaN,NaN,...,1474000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1999-04-19,0.00,2.19,0.96,NaN,NaN,NaN,NaN,NaN,NaN,...,101000.0,0.0,0,0.0,0.0,0.0,0.0,10500.0,0.0,0.0
13,1999-04-26,0.00,3.75,1.24,NaN,NaN,NaN,NaN,NaN,NaN,...,1856000.0,0.0,0,0.0,0.0,0.0,0.0,220000.0,0.0,0.0
14,1999-05-03,11.00,1.24,0.69,NaN,NaN,NaN,NaN,NaN,NaN,...,767000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1999-05-10,12.50,2.62,1.31,NaN,NaN,NaN,NaN,NaN,NaN,...,576000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1999-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1999-05-17,13.75,4.21,2.15,NaN,NaN,NaN,NaN,NaN,NaN,...,2841000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1999-05-26,15.50,4.42,1.40,NaN,NaN,NaN,NaN,NaN,NaN,...,1244000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1999-05-31,19.70,2.66,0.62,NaN,NaN,NaN,NaN,NaN,NaN,...,571000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1999-06-07,18.70,4.93,1.75,NaN,NaN,NaN,NaN,NaN,NaN,...,230000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1999-06-14,19.30,5.32,2.00,NaN,NaN,NaN,NaN,NaN,NaN,...,92000.0,0.0,0,0.0,0.0,0.0,0.0,13000.0,0.0,0.0
24,1999-06-21,19.20,6.03,1.91,NaN,NaN,NaN,NaN,NaN,NaN,...,466000.0,0.0,0,0.0,0.0,0.0,40000.0,71000.0,0.0,0.0
25,1999-06-28,20.90,5.56,2.94,NaN,NaN,NaN,NaN,NaN,NaN,...,2982708.0,0.0,0,0.0,0.0,0.0,328555.0,759962.0,0.0,0.0
26,1999-07-05,23.00,11.26,2.32,NaN,NaN,NaN,NaN,NaN,NaN,...,2670898.0,0.0,0,0.0,0.0,0.0,0.0,123618.0,0.0,0.0
27,1999-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1999-07-12,20.60,4.29,2.45,NaN,NaN,NaN,NaN,NaN,NaN,...,61000.0,0.0,0,0.0,0.0,0.0,0.0,13000.0,0.0,0.0
29,1999-07-19,22.80,5.04,2.71,NaN,NaN,NaN,NaN,NaN,NaN,...,215000.0,0.0,0,0.0,0.0,0.0,0.0,37000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119,2019-03-06,2.19,12.29,-0.59,0,0.350149,0.0828398,0.542101,0.513227,0.0288741,...,12030000.0,0.0,0,0.0,0.0,0.0,0.0,4365000.0,0.0,0.0
1120,2019-03-11,2.54,8.59,0.44,0.140789,0.32656,0.108062,0.579286,0.539822,0.0394641,...,10191000.0,0.0,0,0.0,0.0,0.0,0.0,3880000.0,0.0,0.0
1121,2019-03-18,4.23,0.80,0.39,0.93317,0.835622,0.190585,0.410079,0.373015,0.0370643,...,471000.0,0.0,0,0.0,0.0,0.0,0.0,58000.0,0.0,0.0
1122,2019-03-25,5.22,2.40,1.04,1.24851,0.29678,0.161237,0.362711,0.334248,0.0284629,...,1417000.0,0.0,0,0.0,0.0,0.0,0.0,4000.0,0.0,0.0
1123,2019-04-01,6.15,3.74,0.90,1.13223,0.277929,0.183602,0.530818,0.505848,0.0249698,...,1464000.0,0.0,0,0.0,0.0,0.0,0.0,18000.0,0.0,0.0
1124,2019-04-08,8.31,1.24,1.13,2.77044,0.453906,0.261323,0.547998,0.501936,0.0460625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,2019-04-17,7.90,2.31,0.67,2.54765,0.765025,0.250946,1.58703,1.54125,0.0457784,...,328000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1126,2019-04-22,10.75,1.94,-0.07,2.21235,0.329668,0.29261,0.346899,0.307605,0.0392942,...,79000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1127,2019-04-29,10.39,3.24,1.04,9.24377,0.766995,0.111746,1.06953,0.988289,0.0812421,...,295000.0,0.0,0,0.0,0.0,0.0,0.0,106000.0,0.0,0.0
1128,2019-05-06,10.05,4.44,1.94,9.64435,1.25618,0.205665,2.28198,2.16827,0.113706,...,736000.0,0.0,0,0.0,0.0,0.0,0.0,718000.0,0.0,0.0
1129,2019-05-13,NaN,3.96,0.02,11.5803,0.596203,0.297688,2.70818,2.53555,0.172631,...,9000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
1130,2019-05-20,12.54,2.63,1.38,8.30589,0.408587,0.350142,0.45099,0.385914,0.0650753,...,58000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,2019-05-28,16.73,4.45,-0.27,6.72947,0.684148,0.211045,0.179114,0.152603,0.0265103,...,547000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1132,2019-06-03,16.28,2.29,1.34,3.88819,0.571781,0.226528,0.280832,0.236304,0.0445279,...,536000.0,0.0,0,0.0,0.0,274000.0,0.0,84000.0,0.0,26000.0
1133,2019-06-10,17.50,2.29,1.96,9.34667,0.994796,0.527854,0.987897,0.940883,0.0470144,...,80000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1134,2019-06-17,17.78,4.44,2.19,6.834,1.843,0.529,0.545,0.461,0.084,...,882000.0,0.0,0,0.0,0.0,0.0,0.0,153000.0,0.0,22000.0
1135,2019-06-24,19.31,8.75,2.99,10.019,0.223,0.403,0.223,0.115,0.108,...,2629000.0,0.0,0,0.0,0.0,0.0,0.0,74000.0,0.0,4000.0
1136,2019-07-01,NaN,5.59,2.98,13.043,0.499,0.579,0.499,0.416,0.083,...,1462000.0,0.0,0,0.0,0.0,0.0,0.0,83000.0,0.0,0.0
1137,2019-07-08,22.30,6.62,2.87,7.195,0.197,0.536,0.197,0.139,0.058,...,350000.0,0.0,0,0.0,0.0,0.0,0.0,76000.0,0.0,0.0
1138,2019-07-15,23.47,5.53,2.28,13.096,0.404,0.545,0.405,0.253,0.152,...,2034000.0,0.0,0,0.0,0.0,13000.0,0.0,1576000.0,0.0,0.0
1139,2019-07-22,25.47,2.80,1.21,15.679,0.589,0.619,0.588,0.445,0.143,...,1740000.0,0.0,0,0.0,0.0,14000.0,0.0,1357000.0,0.0,0.0
1140,2019-07-29,23.09,1.85,3.73,15.733,0.274,0.725,0.274,0.243,0.031,...,141000.0,0.0,0,0.0,0.0,16000.0,0.0,0.0,0.0,0.0
1141,2019-08-05,23.21,6.24,2.31,21.166,0.294,1.102,0.294,0.196,0.098,...,1053000.0,0.0,0,0.0,0.0,106000.0,0.0,34000.0,0.0,0.0
1142,2019-08-12,22.38,4.42,4.30,18.907,0.969,1.205,0.969,0.893,0.076,...,153000.0,0.0,0,0.0,0.0,7000.0,0.0,22000.0,0.0,0.0
1143,2019-08-20,23.49,5.46,5.90,19.66,1.269,1.158,1.269,1.183,0.086,...,523000.0,8000.0,0,0.0,0.0,0.0,0.0,235000.0,0.0,0.0
1144,2019-08-26,21.69,8.28,6.47,23.749,0.52,1.27,0.52,0.429,0.091,...,176000.0,23000.0,0,0.0,0.0,0.0,0.0,33000.0,0.0,0.0
1145,2019-09-03,21.30,6.11,4.88,23.713,1.707,1.362,1.707,1.619,0.088,...,352000.0,12000.0,0,0.0,0.0,4000.0,0.0,139000.0,0.0,0.0
1146,2019-09-09,20.20,5.33,3.65,NaN,NaN,NaN,NaN,NaN,NaN,...,7376000.0,0.0,0,0.0,0.0,0.0,0.0,6820000.0,0.0,0.0
1147,2019-09-16,20.91,5.83,5.92,NaN,NaN,NaN,NaN,NaN,NaN,...,4822000.0,0.0,0,0.0,0.0,0.0,0.0,3583000.0,0.0,0.0
1148,2019-09-23,19.73,6.12,5.56,NaN,NaN,NaN,NaN,NaN,NaN,...,2185000.0,0.0,0,0.0,0.0,2000.0,0.0,2162000.0,0.0,0.0

In [19]:
#Save your file (change the name if necessary).
data.to_csv('../AStahl Dataset/all_data.csv')

**2)** A brief survey: Have you taken an introductory statistics course, and if so, do you remember much from it? For example,

* Can you articulate the null hypotheses for the questions you formulated last week involving your data? 
* Do you know what a t-test is for?
* Do you know what a *p* value represents?
* Do you know what standard deviation is, and how it's calculated?

I took an undergraduate 'Introduction to statistics' class as well as a graduate 'Ecological Statistics' course. 
The null hypothesis for my questions is that there will be no change in temperature/environmental factors or cell abundance over time. 
A t-test is used to determine if there is a statistical difference between the means of 2 groups. 
A p-value is the set level used to determine if there is a significant statistical result from your analysis (usually 0.05). The p-value is the main source of information for accepting or rejecting your null hypothesis. 
The standard deviation tells you how far your data spreads out around the mean. To calculate it:
     find the mean of your dataset
     subtract the mean from each data point 
     square the result
     find the mean of the squared results (this number is known as the variance)
     take the square root of the variance and that is your SD.

#### Submitting

In the Terminal (Mac) or Git Bash (Windows):

`git commit -a -m 'Assignment 6 completed'`  
`git push`

### Reading

1. [_Python for Data Analysis_](https://uri-primo.hosted.exlibrisgroup.com/permalink/f/10nopmq/01URI_ALMA51209454630002396):
    * Section 7.3
    * Chapter 10